@media only screen and (min-width: 750px) {
  body {
    background-image: url("/images/bg-desktop.png");
    background-position-y: bottom;
    background-color: hsl(229, 57%, 11%);
    background-repeat: repeat-x;
  }

  .section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
  }

  .boxOne {
    width: 25%;
    margin-right: 2%;
  }

  .boxTwo {
    width: 45%;
    margin-left: 2%;
    margin-bottom: 1%;
  }

  .text {
    margin-top: 5%;
    align-self: flex-start;
    margin-left: 5%;
  }

  .bar {
    margin-top: 3%;
    padding: 0.5%;
  }

  .bar .insidebar .whiteball {
    width: 2%;
  }

  .limit {
    margin-top: 1%;
    margin-bottom: 3%;
  }
}
